.cardAllInfo{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAllInfo-container{
  background: #fff;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding: 25px 35px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2,auto);
  position: relative;
  overflow: auto;
  /* text-align: center; */
}

.cardAllInfo-title{
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 7px;
}

.cardAllInfo-arrowClose{
  position: absolute;
  top: 50px;
  left: 6%;
  padding: 5px 10px;
  z-index: 1;
  font-size: 1.4rem;
}


.cardAllInfo-pokeDate{
  padding: 5px; 
      display: flex;
    flex-direction: column;
    gap: 6px;
}
.cardAllInfo-bio{
  max-width: 350px;
  width: 100%;
  /* height: 80px; */
}
.cardAllInfo-weight,.cardAllInfo-height,.cardAllInfo-abilities{
  display: flex;
  gap: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.cardAllInfo-weight span,
.cardAllInfo-height span,
.cardAllInfo-abilities .cardAllInfo-ability{
  font-weight: 400;
}
.cardAllInfo-ability{
  display: flex;
  flex-direction: column;
}

.cardAllInfo-evolutionImg{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
}
.cardAllInfo__img-loader{
  margin: auto;
}

.cardAllInfo-training{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardAllInfo-baseExp,
.cardAllInfo-baseHappiness,
.cardAllInfo-captureRate,
.cardAllInfo-growthRate{
  font-weight: 600;
  text-transform: capitalize;
}
.cardAllInfo-baseExp span,
.cardAllInfo-baseHappiness span,
.cardAllInfo-captureRate span,
.cardAllInfo-growthRate span{
  font-weight: 400;
}


.cardAllInfo-stats{
  padding: 10px 0px;
}
.cardAllInfo-statsContent{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}
.cardAllInfo-statsItem{
  display: flex;
  flex-direction: column;
  /* border: solid #5c5c5d 2px; */
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
  gap: 5px;
}
.cardAllInfo-statsItem span{
  font-weight: 400;
}




@media screen and (max-width: 900px){

  .cardAllInfo-container{
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    /* text-align: center; */
  }

  .cardAllInfo-arrowClose{
    top: 14px;
    left: 6px; 
  }

}
